DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/neondb?sslmode=require"
TEST_DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/neondb_test?sslmode=require"
AUTH_SECRET=""
AUTH_LINKEDIN_ID=""
AUTH_LINKEDIN_SECRET=""
